.github/CODEOWNERS @iclanton @nickpape-msft @octogonz @patmill @aditima
common/config/**/* @iclanton @nickpape-msft @octogonz @patmill @aditima

common/reviews/**/* @iclanton @nickpape-msft @octogonz @mpasarin @aditima

apps/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
build-tests/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
core-build/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
libraries/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
stack/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
webpack/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
rush.json @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
.gitattributes @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
.gitignore @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
README.md @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble

libraries/load-themed-styles/**/* @iclanton @nickpape-msft @octogonz @dzearing @aditima
