.fileContents {
  height: calc(35vh - 35px);
  overflow: scroll;
}

@mixin specWrapper {
  padding: 2px 4px;
  border-radius: 2px;
  color: white;
}

.addedSpec {
  background-color: #107c10;
  @include specWrapper;
}

.deletedSpec {
  background-color: red;
  @include specWrapper;
}

.changedSpec {
  background-color: darkgoldenrod;
  @include specWrapper;
}

.packageSpecWrapper {
  h5 {
    margin-bottom: 12px;
  }
  & > * + * {
    margin-top: 8px;
  }
}
