@import 'office-ui-fabric-core/dist/sass/References';

.PackageJsonViewerWrapper {
  box-shadow: $ms-depth-shadow-8;
  background-color: $ms-color-gray10;
  padding: 24px;
  width: calc(100% - 48px);
  margin-bottom: 24px;
}

.fileContents {
  height: 300px;
  overflow: scroll;
}
