@import 'office-ui-fabric-core/dist/sass/References';

.headerFilterBar {
  display: flex;
  box-shadow: $ms-depth-shadow-8;
  width: fit-content;
  & > * + * {
    border-left: 1px solid $ms-color-gray20;
  }
}

.headerFilterItem {
  background-color: $ms-color-gray10;
  padding: 6px 12px;
  cursor: pointer;
}

.headerFilterItemActive {
  border-bottom: 3px solid #107c10;
}

.fileContents {
  height: calc(35vh - 35px);
  overflow: scroll;
}

@mixin specWrapper {
  padding: 2px 4px;
  border-radius: 2px;
  color: white;
}

.addedSpec {
  background-color: #107c10;
  @include specWrapper;
}

.deletedSpec {
  background-color: red;
  @include specWrapper;
}

.changedSpec {
  background-color: darkgoldenrod;
  @include specWrapper;
}

.packageSpecWrapper {
  h5 {
    margin-bottom: 12px;
  }
  & > * + * {
    margin-top: 8px;
  }
}
