# Windows OS Files
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
ehthumbs.db

# Mac OSX Files
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*

# Package files
app
app-min
bower_components
coverage
local
dist
jspm_packages
lib
lib-amd
lib-es6
node_modules
npm-debug.log
npminstall-log.txt
temp

# Rush files
**/*.build.error.log
**/*.build.log
/common/apiDocs/json/**
/common/last-install.flag
/common/last-install.log
/common/local-npm
/common/local-npm/**
/common/local-rush
/common/local-rush/**
/common/npm-cache
/common/npm-cache/**
/common/npm-local
/common/npm-local/**
/common/npm-tmp
/common/npm-tmp/**
/common/rush-link.json
/common/rush-recycler
package-deps.json

# IDE files
*.bak
*.csproj.user
*.sublime-project
*.sublime-workspace
*.suo
*.userosscache
.idea
.vs/
/.settings/
bin/

# Ignore VS Code personal settings, but keep a root-level setting
/*/**/.vscode/

# Build artifacts
**/*.scss.ts