/lib/**/*.test.js
/lib/**/*.test.d.ts

/src
/node_modules
/coverage
/gulpfile.js
/temp

/ext
/dist/*.stats.*
/config
/*.log
/tsconfig.json
/tsd.json
/typings
/.npmignore
/jsconfig.json
/.editorconfig
/.vscode
/*.csproj
/*.sln
/.gitignore
/.gitattributes
