@import 'office-ui-fabric-core/dist/sass/References';

@mixin card {
  box-shadow: $ms-depth-shadow-8;
  background-color: $ms-color-gray10;
  padding: 24px;
}

.ContainerCard {
  @include card;
}

.AppContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  & > * {
    width: 100%;
  }
}

.AppGrid {
  flex-grow: 1;
}

.BodyContainer {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
