@import 'office-ui-fabric-core/dist/sass/References';

@mixin card {
  box-shadow: $ms-depth-shadow-8;
  background-color: $ms-color-gray10;
  padding: 24px;
  width: calc(100% - 48px);
}

.containerCard {
  @include card;
}

.AppContainer {
  padding: 24px;
}

.SelectLockfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.selectModal {
  @include card;
  width: fit-content;
  text-align: center;
  & > * + * {
    margin-top: 12px;
  }
}

.BodyContainer {
  & > * + * {
    margin-top: 24px;
  }
}
