# Windows OS Files
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
ehthumbs.db

# Mac OSX Files
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*

# Package files
app
app-min
bower_components
coverage
dist
jspm_packages
lib
lib
lib-amd
node_modules
npm-debug.log
npminstall-log.txt
temp

# Rush files
**/*.build.error.log
**/*.build.log
common/temp
package-deps.json

# IDE files
*.bak
*.csproj.user
*.sublime-project
*.sublime-workspace
*.suo
*.userosscache
.idea
.vs/
/.settings/
bin/

# Ignore VS Code personal settings, but keep a root-level setting
/*/**/.vscode/

# Build artifacts
**/*.scss.ts