.LockfileEntryListViewWrapper {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 4px 8px;

  &:hover {
    border: 1px solid black;
  }

  h5 {
    margin: 0;
  }
}

.LockfileFilterBar {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 12px;
  }
}

.lockfileEntries {
  border: 1px solid white;
  cursor: pointer;
  padding: 4px 8px;
  &:hover {
    border: 1px solid black;
  }
  h5 {
    margin: 0;
  }
}

.lockfileEntriesWrapper {
  height: calc(100vh - 300px);
  overflow: scroll;
}

.filterSection {
  margin-top: 24px;
  & > * + * {
    margin-top: 4px;
  }
}
