.LogoPanel {
  width: 70px;
  padding-left: 5px;
}

.LogoPanel a {
  text-decoration: none;
}

.Icon {
  padding-top: 5px;
  height: 64px;
}

.Title1 {
  padding-top: 7px;
  height: 20px;
}

.Title2 {
  padding-top: 5px;
  padding-bottom: 10px;
  height: 20px;
}

.Image {
  height: 100%;
  object-fit: contain;
}

.Detail {
  color: #ab9e8e;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  padding-bottom: 3px;
}
