.DisconnectOverlayBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #00000040;
}

.DisconnectOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & > * + * {
    margin-top: 12px;
  }
}

.DisconnectCheckRow {
  display: flex;
  align-items: center;
  & > * + * {
    margin-left: 8px;
  }
}
