@use '../../styles/colors';

/* reset */
button {
  all: unset;
}

.CheckboxRoot {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px colors.$black;
  cursor: pointer;
}
.CheckboxRoot:hover {
  background-color: colors.$primary-background;
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px colors.$primary-active;
}

.CheckboxIndicator {
  color: colors.$primary-active;
}

.Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  user-select: none;
}
