@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
  all: unset;
}

.CheckboxRoot {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px var(--blackA7);
}
.CheckboxRoot:hover {
  background-color: var(--violet3);
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  color: var(--violet11);
}

.Label {
  color: white;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  user-select: none;
}
