# Rush uses this file to configure the package registry, regardless of whether the
# package manager is PNPM, NPM, or Yarn.  Prior to invoking the package manager,
# Rush will always copy this file to the folder where installation is performed.
# When NPM is the package manager, Rush works around NPM's processing of
# undefined environment variables by deleting any lines that reference undefined
# environment variables.
#
# DO NOT SPECIFY AUTHENTICATION CREDENTIALS IN THIS FILE.  It should only be used
# to configure registry sources.

registry=https://registry.npmjs.org/
always-auth=false
