@use '../../styles/colors';

/* reset */
button,
fieldset,
input {
  all: unset;
}

.TabsRoot {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.TabsList {
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px solid colors.$primary-active;
}

.TabsTrigger {
  font-family: inherit;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  color: colors.$black;
  user-select: none;
}
.TabsTrigger:hover {
  color: colors.$primary-active;
  cursor: pointer;
}
.TabsTrigger[data-state='active'] {
  color: colors.$primary-active;
  box-shadow:
    inset 0 -1px 0 0 currentColor,
    0 1px 0 0 currentColor;
}
.TabsTrigger:focus {
  position: relative;
  box-shadow: 0 0 0 2px colors.$primary-active;
}

.TabsContent {
  flex-grow: 1;
  padding: 12px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
}
.TabsContent:focus {
  box-shadow: 0 0 0 2px black;
}
