@use '../../appstyles' as m;

.LockfileEntryListView {
  @include m.card;
  overflow: scroll;
  & > * + * {
    margin-top: 24px;
  }
  p,
  h5 {
    margin: 0;
  }
}

.DependencyItem {
  border: 1px solid white;
  cursor: pointer;
  &:hover {
    border: 1px solid black;
  }
}
