@import 'office-ui-fabric-core/dist/sass/References';

.LockfileEntryListView {
  display: flex;
  justify-content: space-between;
  & > * {
    width: calc(50% - 48px - 12px);
  }
  h5 {
    margin: 0;
  }
}

.DependencyListWrapper {
  margin-top: 8px;
  height: calc(35vh - 24px);
  overflow: scroll;
}

.DependencyItem {
  border: 1px solid white;
  cursor: pointer;
  margin-top: 12px;
  &:hover {
    border: 1px solid #107c10;
  }
  p {
    margin: 0;
  }
  & > * + * {
    margin-top: 8px;
  }
}
