@import 'office-ui-fabric-core/dist/sass/References';

.LockfileEntryListView {
  box-shadow: $ms-depth-shadow-8;
  background-color: $ms-color-gray10;
  padding: 24px;
  width: calc(100% - 48px);
  overflow: scroll;
  & > * + * {
    margin-top: 24px;
  }
  p,
  h5 {
    margin: 0;
  }
}

.DependencyItem {
  border: 1px solid white;
  cursor: pointer;
  &:hover {
    border: 1px solid black;
  }
}
